<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habbitz" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.habbitz.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.habbitz.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.habbitz.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.habbitz.CheckActivity"
            android:label="@string/title_activity_check" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.habbitz.yes_goal"
            android:label="@string/title_activity_yes_goal" >
        </activity>
        <activity
            android:name="com.habbitz.no_goal"
            android:label="@string/title_activity_no_goal" >
        </activity>
    </application>

</manifest>
